{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Edit Home Page {% endblock %}
{% block body %}

    <div class="container">
         <div class="main-logo" style="margin-bottom: 50px">
             <a href="#"> <h1 id="main-title">Edit Home Page</h1> </a>
             <a href="#"> <img src={{url_for('static', filename='images/random.png')}}> </a>
         </div>

         <div class="form">
             {{wtf.quick_form(form, button_map={'submit':'success'})}}
         </div>
     </div>

{% endblock %}
