{% extends "base_with_shortcut.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Reset Password {% endblock %}

{% block body %}

 <div class="container">
         <div class="main-logo" style="margin-bottom: 50px">
             <a href="{{url_for('page.home')}}"> <h2 style="margin-bottom: 10px">Reset Password</h2> </a>
         </div>

    <div class="login-form" style="margin-bottom: 200px;">
        {{wtf.quick_form(form, button_map={'submit':'success'})}}
    </div>
</div>

{% endblock %}